[submodule "safeboot"]
	path = ext-safeboot
	url = ../safeboot.git
	branch = master
[submodule "ext-tpmware/tpm2-tss"]
	path = ext-tpmware/tpm2-tss
	url = ../tpm2-tss.git
	branch = master
[submodule "ext-tpmware/tpm2-tools"]
	path = ext-tpmware/tpm2-tools
	url = ../tpm2-tools.git
	branch = master
[submodule "ext-tpmware/libtpms"]
	path = ext-tpmware/libtpms
	url = ../libtpms.git
	branch = master
[submodule "ext-tpmware/swtpm"]
	path = ext-tpmware/swtpm
	url = ../swtpm.git
	branch = master
